* {
  margin: 0;
  padding: 0;
}

body {
  max-height: 90vh;
  overflow: hidden;
}

#htmlBody {
  height: 90vh;
  overflow: hidden;
  text-align: center;
  background-image: linear-gradient(45deg, dodgerblue, purple, red) !important;
}

.main-heading-pre {
  padding: 20px;
  font-family: cursive;
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.main-heading-post {
  padding: 20px;
  font-family: fantasy;
  font-size: 60px;
  background-color: tomato;
  text-shadow: 2px 2px 4px #000000;
}

.main-heading-divider {
  border: 1px solid white;
  box-shadow: 2px 2px 10px #000000;
}

/* middle */
#middlebox {
  display: none;
}

.grid-container {
  display: grid;
  background-color: #f9f9f9;
  margin: 100px auto auto;
  grid-template-columns: auto auto auto auto;
  padding: 20px;
  grid-gap: 10px;
  height: min-content;
  width: min-content;
}

.grid-item {
  background-color: #0c0622;
  border: 1px solid rgba(12, 1, 61, 0.8);
  padding: 20px;
  font-size: 40px;
  height: 40px;
  width: 40px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 2px #000000;
}

/* game  */

#game-over {
  position: absolute;
  left: 0;
  top: 40vh;
  width: 100%;
  text-align: center;
}

.game-over {
  background-color: #b3aa90;
  filter: blur(5px);
}

.game-over-text {
  padding: 20px;
  width: 100%;
  background-color: darkorange;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  text-shadow: 2px 2px 4px #000000;
  display: block;
}
.game-over-text-pre {
  margin: auto;
  display: none;
}
.active-slot {
  background-color: #0c0622;
}

.free-slot {
  background-color: #0c062260;
}
